<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.compare.mapper.CompareLogMapper">
    <resultMap id="compareLogAccount" type="com.example.compare.entity.CompareLog">
        <id column="id" property="id"></id>
        <result column="serial_number" property="serialNumber"></result>
        <result column="comparison_cost" property="comparisonCost"></result>
        <result column="order_id" property="orderId"></result>
        <result column="compare_file_1" property="compareFile1"></result>
        <result column="compare_file_2" property="compareFile2"></result>
        <result column="create_time" property="createTime"></result>
        <result column="status" property="status"></result>
    </resultMap>

    <select id="search" resultMap="compareLogAccount">
        select *
        from order_log
        where serial_number = '${param1}'
          and (create_time BETWEEN '${param2}' AND '${param3}')
        limit ${param4},${param5};
    </select>

    <select id="getOutTradeId" resultType="java.lang.String">
        select o.out_trade_id
        from compare_log c
                 left join order_log o
                           on o.id = c.order_id
        where c.id = #{id}
    </select>

    <delete id="allDelete">
        delete order_log,compare_log,attachment
        from compare_log
                 left join order_log on compare_log.order_id = order_log.id
                 left join attachment
                           on (compare_log.compare_file_1 = attachment.id OR compare_log.compare_file_2 = attachment.id)
        where compare_log.order_id = '${param1}';
    </delete>
</mapper>
