<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.compare.mapper.CompareMapper">


    <select id="bySerialNumber" resultType="com.example.compare.entity.Compare">
        select *from compare where serial_number ='${param1}'
    </select>

    <select id="search" resultType="com.example.compare.entity.Compare">
        SELECT
            compare.id,
            serial_number,
            order_id,
            create_time,
            fee,
            order_log.STATUS,
            order_log.title
        FROM
            compare
                LEFT JOIN order_log ON compare.order_id = order_log.id
        WHERE
            (
            1=1
            <if test="keywords!=''">
            or serial_number like '%${keywords}%' OR order_log.STATUS like '%${keywords}%'
            </if>
            )
        <if test="startTime!='' and endTime!=''">
        AND ( create_time BETWEEN '${startTime}' AND '${endTime}' )
        </if>
        LIMIT ${index},
        ${maxPage};
    </select>

    <select id="searchOne" resultType="com.example.compare.entity.Compare">
    SELECT
    c.id,
    c.serial_number,
    c.order_id,
    c.create_time,
    o.fee,
    o.STATUS
    FROM
    compare AS c
    LEFT JOIN order_log AS o ON c.order_id = o.id
    WHERE
    c.id = ${compareId};
    </select>

    <delete id="allDelete">
        delete order_log,compare from compare
          left join order_log on compare.order_id=order_log.id
          where compare.order_id='${param1}';
    </delete>


    <select id="allSelect" resultType="com.example.compare.entity.Compare">
        select compare.id,serial_number,order_id,create_time,order_log.status,fee from compare
                left join order_log on compare.order_id=order_log.id;
    </select>

    <select id="getOrderIdByid" resultType="java.lang.String">
        select o.out_trade_id from compare c
        left join order_log o
        on c.order_id = o.id
        where c.id = #{id}
    </select>

    <select id="getTotalRows" resultType="string">
        select count(*) from order_log
    </select>
</mapper>