<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.newcompare.mapper.OrderLogMapper">

    <update id="allDelete">
        update order_log
        left join file on (order_log.first_id=file.id or order_log.second_id=file.id)
        set order_log.deleted = 1,file.deleted =1
        where
        <foreach collection="serialNumbers" item="serialNumber" separator="or">
            serial_Number = #{serialNumber}
        </foreach>
    </update>

</mapper>
